
body
{
  margin: 0;
  padding: 0;
  font-family: "Krona One", sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FE0002;
}

a:visited  {
  color: white;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 25px;
  right: 35px;
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #eee;
  border-radius: 3px;
  
  z-index: 1;
  
  -webkit-transform-origin: 4px 0px;
  
          transform-origin: 4px 0px;
  
  transition: background 0.15s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.15s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  
  transition: transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.15s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 220px;
  margin: -100px 50px 0 0;
  padding: 30px;
  padding-top: 120px;
  /*padding-bottom: 90px;*/
  right: -100px;
  border: 2px solid red;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  -webkit-transform-origin: 0% 0%;
  
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  
  transition: -webkit-transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.15s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid white;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  -webkit-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
  opacity: 1;
}
